body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #003585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .container {
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  header {
    background-color: #149DE1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    color: white;
    margin: 0;
  }

  #response {
    color: red;
  }

  .login-btn {
    background-color: #FEBA02;
    border: none;
    color: #003585;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-btn:hover {
    background-color: white;
  }


  .signup-box {
    background-color: #149DE1;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }

  .signup-box h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }


  form {
    display: flex;
    flex-direction: column;
  }

  form input,
  form select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }

  form select {
    background-color: white;
    color: black;
  }

  .signup-btn {
    background: #FEBA02;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #003585;
    cursor: pointer;
    border-radius: 5px;
  }

  .signup-btn:hover {
    background: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .formdesign {
    font-size: 13px;

}

.formerror {
    color: black;
}